/*Import font chữ từ google font*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
@config "../tailwind.config.ts";

/*t xóa hết rồi chỉ để lại mỗi theme*/

@theme {
  /* BẢNG MÀU GIAO DIỆN (LIGHT THEME)*/
  --color-main-bg: #ffffff; /* Nền chính*/
  --color-surface: #f8fafc; /* Surface/Card - Slate-50 */
  --color-heading: #0f172a; /* Headings - Slate-900 */
  --color-body: #475569; /* Body Text - Slate-600 */
  --color-primary: #2563eb; /* Primary / Xác thực (Main Actions) */
  --color-success: #10b981; /* Thành công / Passed */
  --color-warning: #f59e0b; /* Lưu ý / Warning */
  --color-error: #ef4444; /* Lỗi / Error */

  /* BẢNG MÀU CODE EDITOR (DARK THEME)*/
  --color-editor-bg: #1e1e1e; /* Nền Editor */
  --color-editor-highlight: #2d2d2d; /* Dòng Highlight */
  --color-editor-keyword: #c678dd; /* Từ khóa */
  --color-editor-func: #61afef; /* Hàm */
  --color-editor-string: #98c379; /* Chuỗi */
  --color-editor-comment: #5c6370; /* Chú thích */

  /* TYPOGRAPHY*/
  --font-heading: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-roboto-mono: "Roboto Mono", monospace;
}
